<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WokeMVVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99DBE2861CA61DA1008F23DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99DBE29F1CA61DA2008F23DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99DBE2AA1CA61DA2008F23DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
